language: python
python:
- 3.8
- 3.7
- 3.6
cache:
  apt: true
  directories:
  - .tox
install: pip install -U tox-travis coverage>=4 codecov
script:
- tox
after_success:
- coverage combine .tox/py*/.coverage
- codecov
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: lsmith_zeno
  password: ${PYPI_PASSWORD}
  on:
    tags: true
    repo: LSmith-Zenoscave/deployer
    python: 3.8
